*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 60px;
}

input{
    width: 100%;
}

.card{
    align-content: center;
    border: solid black 1px;
    border-radius: 6px;
    overflow: hidden;
    margin: 10px 0;
}

.card p {
    padding: 5px;
    text-align: center;
}

.card img {
    width: 100%;

}

.cardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.searchInput{
    border-radius: 10px;
    padding: 0 5px;
}